[*.cs]

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable:silent

# Default severity for analyzer diagnostics with category 'Globalization'
dotnet_analyzer_diagnostic.category-Globalization.severity = silent

# Default severity for analyzer diagnostics with category 'Naming'
dotnet_analyzer_diagnostic.category-Naming.severity = silent

# CS0114: Member hides inherited member; missing override keyword
dotnet_diagnostic.CS0114.severity = silent

# Default severity for analyzer diagnostics with category 'Security'
dotnet_analyzer_diagnostic.category-Security.severity = silent

# Default severity for analyzer diagnostics with category 'Reliability'
dotnet_analyzer_diagnostic.category-Reliability.severity = silent

# Default severity for analyzer diagnostics with category 'Performance'
dotnet_analyzer_diagnostic.category-Performance.severity = silent

# Default severity for analyzer diagnostics with category 'Design'
dotnet_analyzer_diagnostic.category-Design.severity = silent

# CA2100: Review SQL queries for security vulnerabilities
dotnet_diagnostic.CA2100.severity = silent

# CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA1001.severity = silent

# Default severity for analyzer diagnostics with category 'Usage'
dotnet_analyzer_diagnostic.category-Usage.severity = silent
