[*.cs]

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable:silent

# Default severity for analyzer diagnostics with category 'Globalization'
dotnet_analyzer_diagnostic.category-Globalization.severity = silent

# Default severity for analyzer diagnostics with category 'Naming'
dotnet_analyzer_diagnostic.category-Naming.severity = silent

# Default severity for analyzer diagnostics with category 'Usage'
dotnet_analyzer_diagnostic.category-Usage.severity = silent

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = silent

# CA2100: Review SQL queries for security vulnerabilities
dotnet_diagnostic.CA2100.severity = silent

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = silent

# CA1062: Externally visable method null check
dotnet_diagnostic.CA1062.severity = silent

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = silent

# CS0659: Type overrides Object.Equals(object o) but does not override Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = silent
